body{
 width: 100%;
 margin: 0;
 padding: 0;
}

.section1{
    width: 100%;
    height: 30px;
    background: #F5FBFF;
    padding: 12px 0;
}


.section1 .header{
    display: flex;
    justify-content: space-around;
}


.section1 .header .div1{
    padding-right: 300px;
}


.section1 .header .div2 i{
 color: rgb(7, 144, 235);
}


.section1 .header .div1 i{
 padding: 5px;
 color: rgb(20, 20, 20);
 opacity: 0.5;
}


.section1 .header .div2 a{
    padding: 40px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}


.section1 .header .div1 i:hover{
    color: rgb(2, 88, 247);
}


.section2{
    width: 80%;
    height: 70px;
    background-color: rgb(255, 255, 255);
   
}


.section2 .header2{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    position: relative;
}


.section2 .header2 .docmed{
    padding-left: 240px;
    cursor: pointer;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    margin-top: -10px;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    background-color:white;
    font-size: 15px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    border: 1px solid white;
    color:black;
    float: left;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;


}

.navbar ul li a{
    color:black;
    text-decoration: none;
    text-align: center;
    opacity: 0.5;
}

.navbar ul li:hover{
    background-color: white;
    transition: all ease-in 2s ;

}

.navbar ul ul{
    display: none;
}
.navbar ul li:hover>ul{
    display: block;
}


.section2 .btn{
    padding: 15px 30px;
    background-color: rgb(59, 158, 224);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}


.section2 .btn:hover{
    background-color: white;
    color:rgb(59, 158, 224) ;
    border: 1px solid rgb(59, 158, 224);
}



.slider{
    width: 100%;
    height: 700px;
    margin: -40px;
    padding-right:0px;
    padding-top: 50px;
    
    
} 



figure{
    position: relative;
    left: 0;
    width: 200%;
    animation: 16s slide infinite;
}


.slider .slide{
    position: relative;
    width: 50%;
    float: left;
    height: 600px;
    line-height: 15px;
    
}


.slider .slide h1{
    font-size: 80px;
    padding-left: 400px;
    padding-top: 150px;
    word-spacing: 4px;
    word-break: 3px;
}


.slider .slide h2{
    font-size: 70px;
    padding-left: 400px;
    font-weight:50;
    opacity: .9;
}


.slider .slide p{
    padding-left: 400px;
    font-size: 20px;
    line-height: 29px;
    opacity: .7;
}


.slider .slide .btn{
    margin-left: 400px;
    padding: 15px 40px;
    background-color: rgb(59, 158, 224);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.slider .slide .btn:hover{
    background-color: white;
    color:rgb(59, 158, 224) ;
    border: 1px solid rgb(59, 158, 224);
}


@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left:-200%;
    }
    55%{
        left: -200%;
    }
    65%{
        left: -200%;
    }
    66%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    75%{
        left: -100%;
    }
    85%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}



.section3{
    width: 100%;
    height: 300px;
    box-sizing: border-box; 
    margin-top: -86px;
}


.section3 .info{
    width: 100%;
    display: flex;
}


.section3 .info .Hospitality{
    width: 40%;
    height: 300px;
    background-color: rgb(148, 205, 243);
    line-height: 20px;
}


.section3 .info .Hospitality i{
    font-size: 40px;
    color: white;
    padding-top: 50px;
    padding-left: 280px;
}


.section3 .info .Hospitality h1{
    font-size: 40px;
    color: white;
    padding-left: 280px;
    font-weight: 400;
}


.section3 .info .Hospitality p{
    color: white;
    padding-left: 280px;
}


.section3 .info .Hospitality .btn1{
    margin-left: 280px;
    padding: 15px 40px;
    background-color:rgb(148, 205, 243);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}


.section3 .info .Hospitality .btn1:hover{
    background-color: white;
    color: rgb(148, 205, 243);
    font-weight: bold;
}



.section3 .info .Emergency{
    width: 20%;
    height: 300px;
    background-color: #5DB2FF;
    line-height: 20px;
}



.section3 .info .Emergency i{
    font-size: 40px;
    color: white;
    padding-left: 30px;
    padding-top: 50px;
}


.section3 .info .Emergency h1{
    font-size: 40px;
    color: white;
    padding-left: 30px;
    font-weight: 400;
}



.section3 .info .Emergency p{
    color: white;
    padding-left: 30px;
}



.section3 .info .Emergency .btn1{
    padding: 15px 40px;
    background-color:#5DB2FF;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
}
    


.section3 .info .Emergency .btn1:hover{
    background-color: white;
    color: rgb(148, 205, 243);
    font-weight: bold;
}


.section3 .info .Chamber{
    width: 40%;
    height: 300px;
    background-color: rgb(148, 205, 243);
    margin-bottom: 50px;
    line-height: 20px;
}


.section3 .info .Chamber i{
    font-size: 40px;
    color: white;
    padding-top: 50px;
    padding-left: 30px;
}


.section3 .info .Chamber h1{
    font-size: 40px;
    color: white;
    padding-left: 30px;
    font-weight: 400;
}



.section3 .info .Chamber p{
    color: white;
    padding-left: 30px;
}


.section3 .info .Chamber .btn1{
    padding: 15px 40px;
    background-color:#5DB2FF;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
}


.section3 .info .Chamber .btn1:hover{
    background-color: white;
    color: rgb(148, 205, 243);
    font-weight: bold;
}



.section4{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    padding-top: 80px;
}


.section4 .welcome{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
}


.section4 .welcome .dubleimg{
    width: 50%;
    border-style: none;
    padding-left: 100px;
    display: flex;
    height: 80%;
    vertical-align: middle;

}




.section4 .welcome .text{
  width: 50%;
  padding-left: 150px;
}


.section4 .welcome .text h2{
     opacity: .7;
     font-weight: 100;
}


.section4 .welcome .text h1{
    font-size: 50px;
    font-weight: 300;
}


.section4 .welcome .text p{
    opacity: .5;
    font-size: 20px;
}


.section4 .welcome .text i{
  line-height: 30px;
}



.btn2{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #5DB2FF;
    color: #5DB2FF;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}


.btn2:hover{
 background-color:#5DB2FF ;
 color: white;
}


.section5{
    width: 100%;
    height: 1416px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#eff4fa;
    margin-top: 150px;
}


.section5 .Department{
    width: 100%;
    height: auto;
}


.section5 .Department .our{
    text-align: center;
    padding-top: 50px;
    line-height: 20px;
    padding-bottom: 50px;
}


.section5 .Department .our h1{
font-size: 50px;
opacity: 0.8;
}


.section5 .Department .our p{
    color:rgb(243, 105, 13);
    white-space: 3px;
}


.section5 .Department .sixphoto .service1{

display: grid;
grid-template-columns: repeat(3 , 1fr);
grid-column-gap: 50px;
grid-row-gap: 50px;
margin: 0 auto;
width: 70%;
height: auto;
}


.section5 .Department .sixphoto .service1 div{
    box-shadow: 5px 5px 10px 10px #e6e9e9;
    background-color: white;
    padding-bottom: 30px;
   
}


.section5 .Department .sixphoto .service1 h1{
    font-size: 30px;
    padding-left: 20px;
}


.section5 .Department .sixphoto .service1 p{
    padding-left: 20px;
    opacity: 0.7;
}


.section5 .Department .sixphoto .service1 a{
    text-decoration: none;
    padding-left: 20px;
    color:#5DB2FF ;
}

.section5 .Department .sixphoto .service1 .p1:hover{
    transform: scale(.75);
    transition: all .5s ease-in-out;
}


.section6{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 0px;
}


.section6 .ds6{
    position: relative;
    left: 0;
    display: flex;
    width: 200%;
    animation: 16s slide infinite;
    
}


.section6 .ds6 .asana{
    position: relative;
    background-image: url(img/x1.png.pagespeed.ic.NH__KL9wkr.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}



.section6 .ds6 .asana i{
    color: rgb(245, 7, 7);
    font-size: 40px;
    padding-top: 150px;
    padding-left: 800px;
}


.section6 .ds6 .asana p{
    padding-left: 500px;
    font-size: 30px;
    color: rgb(8, 157, 243);
}


.section6 .ds6 .asana h3{
    padding-left: 750px;
    color: rgb(1, 57, 240);
}


.section6 .ds6 .korim{
    position: relative;
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}



.section6 .ds6 .korim i{
    color: rgb(245, 7, 7);
    font-size: 40px;
    padding-top: 150px;
    padding-left: 800px;
}



.section6 .ds6 .korim p{
    padding-left: 500px;
    font-size: 30px;
    color: black;
}


.section6 .ds6 .korim h3{

    padding-left: 750px;
    color: rgb(248, 6, 6);
}


@keyframes asanakorim{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left:-200%;
    }
    55%{
        left: -200%;
    }
    65%{
        left: -200%;
    }
    66%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    75%{
        left: -100%;
    }
    85%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}



.section7{
    width: 100%;
    height: auto;
    padding-top: 100px;
    margin: 0 auto;
}

.section7 .lead{
    display: flex;
    width: 100%;
    float: left;
    justify-content: space-around;
    padding-bottom: 100px;
}


.section7 .lead .icon{
    width: 50%;
    position: relative;
    height: auto;
}


.section7 .lead .icon i{
    font-size: 35px;
    height: 75px;
    width: 75px;
    display: inline-block;
    text-align:center ;
    color: white;
    background-color: #5DB2FF;
    margin-left: 300px;
    border-radius: 50%;
    line-height: 75px;
}


.section7 .lead .icon h1{
    font-weight: 200;
    padding-left: 300px;
}


.section7 .lead .icon p{
    padding-left: 300px;
    opacity: .5;
    line-height: 23px;
}



.section7 .lead .towman{
    width: 50%;
}


.section8{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}


.section8 .ex{
 font-size: 30px;
 font-weight: 300;
 white-space: 2px;
 padding-left: 400px;
}

.section8 .doctor4{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-column-gap:50px;
    grid-row-gap: 50px;
    width: 40%;
    height: 50px;
    margin: 0 auto;
    padding-right: 200px;
    padding-bottom: 18px;
    padding-top: 20px;
}

.section8 .doctor4 .doc1{
    background-color: #c4d7e9;

}

.section8 .doctor4 .doc1 img{
   height: 50%;  
}


.section8 .doctor4 .doc1 h1{
    text-align: center;
}


.section8 .doctor4 .doc1 p{
    text-align: center;
}


.section8 .doctor4 .doc1:hover{
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #5DB2FF;
}


.section9{
    padding-top: 600px;
    width: 100%;
    height: auto;
}


.section9 .laststage{
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
}


.section9 .laststage .boy{
    background-image: url(img/xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.webp);
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
}
.section9 .laststage .boy::before {
    position: absolute;
    content: "";
    background-color: #5DB2FF;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0.8;
}


.section9 .laststage .boy h1{
    text-align: center;
    color: white;
    padding-top: 50px;
    position: relative;
    padding-left: 60px;
}


.section9 .laststage .boy p{
    text-align: center;
    color: white;

}


.section9 .btnlas{
    border: 1px solid white;
    padding: 10px 30px;
    margin-left: 505px;
    border-radius: 20px;
    background-color: #5DB2FF;
    color: white;
}


.section9 .btnlas:hover{
    background-color: white;
    color: #5DB2FF;
}


.section9 .laststage .girl{
    background-image: url(img/xemergency-2.png.pagespeed.ic.Db7myp6yIE.webp);
    background-repeat: no-repeat;
    width: 50%;
    z-index: 0;
    position: relative;
    height: 300px;
}


.section9 .laststage .girl::before {
    position: absolute;
    content: "";
    background-color: #5DB2FF;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0.8;
}


.section9 .laststage .girl h1{
    text-align: center;
    color: white;
    padding-top: 50px;
    position: relative;
    padding-right: 80px;
}



.section9 .laststage .girl p{
    text-align: center;
    color: white;
    padding-right: 155px;
}


.section9 .laststage .girl .btnlas{
    margin-left: 400px;
}


.section10{
    width: 100%;
    height: 600px;
    background-color:#1F1F1F;
    margin-top: -51px;
    margin-bottom: 70px;
}


.section10 .foot1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    float: left;
    box-sizing: border-box;
    padding-top: 100px;
}


.section10 .foot1 .docmed11{
    width: 30%;
}


.section10 .foot1 .docmed11 img{
    padding-top: 30px;
    padding-left: 200px;
    color: white;
}


.section10 .foot1 .docmed11 p{
    padding-left: 200px;
    color: white;
}


.section10 .foot1 .docmed11 i{
    font-size: 40px;
    position: relative;
    color: white;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}


.section10 .foot1 .docmed11 i:hover{
    color: #5DB2FF;
}



.section10 .foot1 .docmed12{
    width: 20%;
    text-align: center;
}


.section10 .foot1 .docmed12 h1{
    color: white;
}

.section10 .foot1 .docmed12 p{
    color: white;
}


.section10 .foot1 .docmed12 p:hover{
    color: #5DB2FF;
}


.section10 .foot1 .docmed13{
    width: 20%;
}


.section10 .foot1 .docmed13 h1{
color: white;
}


.section10 .foot1 .docmed13 p{
    color: white;
}


.section10 .foot1 .docmed13 p:hover{
    color:#5DB2FF;
}


.section10 .foot1 .docmed14{
    width: 30%;
    text-align:left;
}


.section10 .foot1 .docmed14
h1{
    color: white;
}


.section10 .foot1 .docmed14 p{
    color: white;
}


.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: -70px;
}


.footer .footer1{
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    opacity: .7;
}



















 
    





















  


  






    








